@page
@model DreamOn.SudokuSolver.RazorSudoku.Pages.SudokuModel
@{
    ViewData["Title"] = "Sudoku";
}

<form method="post" id="post-sudoku-puzzle">
</form>

<!-- Select Sudoku -->
<div class="row">
    <div class="col-8">
        <div class="form-floating">
            <select class="form-select" id="select-sudoku">
                <option value="" selected disabled>... ... ...</option>
                <option value="000000000-000000000-000000000-000000000-000000000-000000000-000000000-000000000-000000000-Blanco">000000000-000000000-000000000-000000000-000000000-000000000-000000000-000000000-000000000-Blanco</option>
                <option value="111111111-111111111-111111111-111111111-111111111-111111111-111111111-111111111-111111111-Invalid">111111111-111111111-111111111-111111111-111111111-111111111-111111111-111111111-111111111-Invalid</option>
                <option value="060080420-015060378-000400060-100604830-306010705-080350000-830940000-072130900-009020610-Easy">060080420-015060378-000400060-100604830-306010705-080350000-830940000-072130900-009020610-Easy</option>
                <option value="060400000-300001000-107030005-920000030-000004600-000005009-005020000-704000010-000006800-Extreme-B">060400000-300001000-107030005-920000030-000004600-000005009-005020000-704000010-000006800-Extreme-B</option>
                <option value="000309000-000000068-070000000-800040000-000700100-206000000-000970000-000086000-030000500-Benchmark">000309000-000000068-070000000-800040000-000700100-206000000-000970000-000086000-030000500-Benchmark</option>
            </select>
            <label for="select-sudoku">Select a Sudoku Puzzle</label>
        </div>
    </div>
</div>
<!-- Input -->
<div class="row mt-2">
    <div class="col-8">
        <div class="form-floating">
            <textarea class="form-control" required id="textarea-sudoku-puzzle" name="PageValues.Input" style="height: 100px" form="post-sudoku-puzzle">@Model.PageValues.Input</textarea>
            <label for="textarea-sudoku-puzzle">Or fill in your own ...</label>
        </div>
    </div>
</div>
<!-- Submit -->
<div class="row mt-2">
    <input type="submit" class="btn btn-primary" form="post-sudoku-puzzle" value="Solve Puzzle" />
</div>

<div class="row mt-2">
    <!-- Puzzle -->
    <div class="col-3">
        @if (!string.IsNullOrEmpty(Model.PageValues.SudokuPuzzle))
        {
            <div class="sudoku-grid">
                @foreach (char number in Model.PageValues.SudokuPuzzle)
                {
                    <div class="cell">@number</div>
                }
            </div>
        }
    </div>
    <!-- Solution -->
    <div class="col-3">
        @if (!string.IsNullOrEmpty(Model.PageValues.SudokuSolution))
        {
            <div class="sudoku-grid">
                @foreach (char number in Model.PageValues.SudokuSolution)
                {
                    <div class="cell">@number</div>
                }
            </div>
        }
    </div>
</div>

<div class="row mt-2">
    <!-- Information Table -->
    <div class="col-6">
        <table class="table table-striped table-info table-hover">
            <thead>
                <tr><th>Property</th><th>Value</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>Input</td>
                    <td class="text-break">@Model.PageData.SudokuResponse.SudokuRequest.Input</td>
                </tr>
                <tr>
                    <td>Puzzle</td>
                    <td class="text-break">@Model.PageData.SudokuResponse.SudokuRequest.Puzzle.ConvertToString()</td>
                </tr>
                @if (Model.PageData.SudokuResponse.Solutions.Any())
                {
                    <tr>
                        <td>Solution</td>
                        <td class="text-break">@Model.PageData.SudokuResponse.Solutions[0].ConvertToString()</td>
                    </tr>
                }
                <tr>
                    <td>BeginDateTime</td>
                    <td>@Model.PageData.SudokuResponse.BeginDateTime</td>
                </tr>
                <tr>
                    <td>EndDateTime</td>
                    <td>@Model.PageData.SudokuResponse.EndDateTime</td>
                </tr>
                <tr>
                    <td>ElapsedMilliseconds</td>
                    <td>@Model.PageData.SudokuResponse.ElapsedMilliseconds</td>
                </tr>
                <tr>
                    <td>CalculationCycle</td>
                    <td>@Model.PageData.SudokuResponse.CalculationCycle</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row mt-5">
    <!-- Demo 9 numbers -->
    <div class="col-3">
        @if (!string.IsNullOrEmpty(Model.PageValues.SudokuSolution))
        {
            <div class="choosenumber-grid">
                @foreach (char number in Model.PageValues.SudokuSolution.Take(9))
                {
                    <div class="cell">@number</div>
                }
            </div>
        }
    </div>
</div>

<div class="row mt-5">
    <!-- Demo 9 buttons -->
    <div class="col-3">
        @if (!string.IsNullOrEmpty(Model.PageValues.SudokuSolution))
        {
            <div class="choosenumber-grid">
                @foreach (char number in Model.PageValues.SudokuSolution.Take(9))
                {
                    <div class="cell"><button type="button" name="numberButton" value="@number">@number</button></div>
                }
            </div>
        }
    </div>
    <div class="col-3">
        <input type="text" id="SelectedNumber" />
    </div>
</div>


<div class="row mt-2">
    <!-- Fillin Puzzle -->
    <div class="col-3">
        <div class="sudoku-grid">
            @foreach (char number in "000000000000000000000000000000000000000000000000000000000000000000000000000000000")
            {
                <div class="cell" name="numberPuzzle">@number</div>
            }
        </div>
    </div>
</div>

<dialog id="SelectNumberDialog">
    <div class="choosenumber-grid">
        @foreach (char number in "123456789")
        {
            <div class="cell"><button type="button" name="numberButton" value="@number">@number</button></div>
        }
    </div>
</dialog>

<script>
    class PageLibrary {
        constructor() {
        }

        addListeners() {
            document.getElementById("select-sudoku").addEventListener("change", (event) => this.UseSelectedPuzzle(event));
            document.querySelectorAll('button[name="numberButton"]').forEach(element => element.addEventListener('click', (element) => this.selectedNumberHandler(element)));
            document.querySelectorAll('div[name="numberPuzzle"]').forEach(element => element.addEventListener('click', (element) => this.fillInNumberHandler(element)));
        }

        UseSelectedPuzzle(element) {
            document.getElementById("textarea-sudoku-puzzle").value = element.target.value;
        }

        selectedNumberHandler(element) {
            document.getElementById("SelectedNumber").value = element.target.value;
            document.getElementById("SelectNumberDialog").close();
        }

        fillInNumberHandler(element) {
            document.getElementById("SelectNumberDialog").showModal();
        }

        // selectInquiryHandler(element) {
        //     document.getElementById('hiddenModerationTicketId').value = element.dataset.rowid;
        //     document.getElementById('hiddenCategory').value = element.dataset.category;
        //     document.getElementById("selectTicketForm").submit();
        // }

        initPageLibrary() {
            this.addListeners();
            // document.getElementById("SelectNumberDialog").showModal();
        }
    }
    var pgl = new PageLibrary();

    pgl.initPageLibrary();
</script>